@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
   scroll-behavior: smooth;
}

/* nav section design  */
.logo{
    font-size: 30px;
    font-weight: 900;
}
.nav-button{
    padding: 5px 44px;
    color: #3d424d;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    border:1px solid#8b8e96;
    background-color:#ffffff;
}
nav{
    display: flex;
    justify-content:space-around;
    padding-top: 20px;
    margin-bottom: 50px;
}

/* hero section design */
.hero{
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-div{
    width: 100%;
    height: auto;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 50px 0;
}
.hero-section-title{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}
.hero-section-button{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 21px 24px;
    border-radius: 5px;
}

/* common styles... */
.description{
    color:#3d424d;
    font-size: 16px;
    line-height: 28px;
}
.learn-more-button{
  padding: 10px 20px; 
  border:1px solid#8b8e96; 
}
.title{
    font-size: 32px;
    color: #0D1321;
    font-weight: 800px;
}

.underline-design-text{
text-decoration: underline;
}

/* activists part */
.activists-details{
    width: 80%;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding:80px 50px ;
    background-color: #FaFAFb;
    margin-top: 80px;
    margin-bottom: 80px;
}
.info{
    width: 60%;
    text-align: left;
}
.single-activist{
margin: 50px 80px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 30px;
  
}
.second-activist{
    flex-direction: row-reverse;
}


/* ........insparation-section */
iframe{
    padding-top: 20px;
}

.insparation-section{
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.single-target{
    display: flex;
    padding-top: 20px;
  
}
.skills-info{
    padding: 50px 40px;
    background-color: #ffffff;
margin-right: 20px;
border-radius: 10px;
text-align: left;
}
/* current target section */
.current-target-section{
    background-color: #ffffff;
    }
    .html-card{
        background-color: #fff6f4;
    }
    .css-card{
        background-color: #f2f6fe;
    }
    .js-card{
        background-color: #fffdf2;
    }
/* next target style */

.next-target-container{
  
    background-color: hsl(0, 0%, 100%);
}
.next-target-card{

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid 1px rgb(245, 241, 239);
    border-radius: 10px;
  padding: 30px;
  margin-bottom: 20px;
}
.target-info{
text-align: left;
line-height: 30px;
}

.activitist-image{
  margin-right: 40px;
}

/* support section design */
.support-background {
    background-image: url("../assets/handshake.jpg");
    border-radius: 20px;
    position: relative;
  }
  
  .support-background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here (0.5 is 50% opaque black) */
    border-radius: inherit;
  }
  .support-background > h1{
    color: #ffffff;

  }
.text-white{
    color: #ffffff;
    z-index: 99999;

}

/* footer section design */

footer{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
}

/* input element design */
input{
    padding:20px 70px;
    border-radius: 10px;
}